<!DOCTYPE html>
<html lang="en">
<head>
    <base href="@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]">
    <meta charset="utf-8" />
    <title>@ViewBag.Title - OEMS</title>
    <link href="~/Content/images/Web_Logo.png" rel="shortcut icon" type="image/x-icon" />
    @Scripts.Render("~/Scripts/polyfill.min.js")
    <script src="@Url.Content("~/Content/inc/jquery/jquery-2.1.0.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/commonjs")

    <script src="@Url.Content("~/Content/inc/bootstrap/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/inc/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/inc/bootstrap/js/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/inc/bootstrap/js/bootstrap-tagsinput/bootstrap-tagsinput.min.js")"></script>
    <!-- BEGIN META -->
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/fonts/fonts.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/bootstrap/css/bootstrap.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/bootstrap/css/bootstrap-datepicker/datepicker3.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/bootstrap/css/bootstrap-tagsinput/bootstrap-tagsinput.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/select2/select2.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/font-awesome/css/font-awesome.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/et-line-icon/fonts/et-line.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/line-awesome-icon/css/line-awesome.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/material-icons/material-icon.css")" />
    <script src="~/Content/inc/ckeditor/ckeditor.js"></script>
    <link href="~/Content/inc/jqueryconfirm/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/Content/inc/jqueryconfirm/jquery-confirm.min.js"></script>

    <link href="~/Content/kendo/2017.2.621/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2017.2.621/kendo.metro.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />
    <link href="~/Content/css/toast.css" rel="stylesheet" />
    <script src="~/Content/js/toast.js"></script>
    <script src="~/Content/js/moment.js"></script>
    @Scripts.Render("~/bundles/kendo")
<style>
        .gradient-title {
            margin-top:15px;
            font-size:40px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            background: linear-gradient(to right, #ff8c00, #ff0080);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .header_row {
            background-color: black;
        }

        .brand_row {
            display: flex !important;
            align-items: center !important;
            gap: 10px !important;
        }

        .brand_row img {
            height: 50px !important;
        }

        .gradient-title {
            color: white !important;
            margin: 0 !important;
            font-size: 20px;
            font-weight: bold;
            padding-right: 20px;
        }

        /* Custom Menu Styles */
    /* General styling for the menu */
    .head_menu_list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .head_menu_dropdown {
        position: relative;
        margin-right: 0px; /* Add space between items */
    }

        .head_menu_dropdown a {
            display: flex;
            align-items: center;
            padding: 10px;
            text-decoration: none;
            color: white; /* Menu text color */
        }

            .head_menu_dropdown a:hover {
                background-color: transparent; /* Remove background on hover */
                color: #ff8c00; /* Add color change on hover */
            }

        .head_menu_dropdown i {
            margin-right: 8px; /* Space between icon and text */
            font-size: 18px; /* Icon size */
        }

        /* Dropdown styles with white background */
        .head_menu_dropdown .dropdown-menu {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            background-color: white; /* Set white background for the dropdown */
            border: 1px solid #ccc; /* Optional: add border to make it stand out */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
            padding: 0;
            margin: 0;
            z-index: 10; /* Ensure dropdown appears above other content */
        }

        .head_menu_dropdown:hover .dropdown-menu {
            display: block;
            border-radius: 4px; /* Optional: Add border radius to dropdown */
        }

        .head_menu_dropdown .dropdown-menu li a {
            display: flex;
            align-items: center;
            padding: 10px;
            color: black;
        }

            .head_menu_dropdown .dropdown-menu li a:hover {
                background-color: #f7f7f7; /* Light background on hover */
                color: #ff8c00; /* Change color on hover */
            }

        .head_menu_dropdown .dropdown-menu i {
            margin-right: 8px; /* Space between icon and text */
            font-size: 16px; /* Icon size */
        }

</style>
</head>
<body class="left_menu_horizontal">
    <style id="gridPageLoader">
        .page-loader {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-position: center;
        }

        .common_white_box.listingpage {
            position: relative;
        }

        .k-grid {
            opacity: 0;
        }
    </style>

    <nav>
        <div>
            <div class="header_row">
                <div class="brand" style="background-color:black; padding-left:50px;">
                    <div class="brand_row">
                        <img src="~/content/images/Web_Logo.png" alt="OEMS" />
                        <p class="gradient-title" style="font-size:30px">OEMS</p>
                    </div>
                </div>
                <div class="header_right_col clearfix">
                    @if (Session["Menu"] != null)
                    {
                        List<DemoMVC.Models.MenuVW> _menu = (List<DemoMVC.Models.MenuVW>)Session["Menu"];
                        <div class="head_menu_list">
                            <ul>
                                @foreach (var _main in _menu)
                                {
                                    <li class="head_menu_dropdown" id="@_main.FormAccessCode" data-facode="@_main.FormAccessCode">
                                        <a href="@Url.Content(_main.NavigateURL)" style="color:white">
                                            <!--<i class="fa fa-home"></i>--> <!-- Replace with appropriate icon -->
                                            <span class="menu_text">@_main.Name</span>
                                        </a>
                                        @if (_main.SubMenu != null)
                                        {
                                            <div class="dropdown-menu head_menu_dropdown_content">
                                                <ul>
                                                    @foreach (var _sub in _main.SubMenu)
                                                    {
                                                        <li class="head_menu_dropdown" data-facode="@_sub.FormAccessCode">
                                                            <a href="@Url.Content(_sub.NavigateURL)">
                                                                <i class="fa fa-arrow-circle-o-right"></i> <!-- Replace with appropriate icon -->
                                                                <span class="menu_text">@_sub.Name</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        Response.Redirect("~/Account/Login");
                    }
                    <div class="head_right_col" style="padding-right:150px">
                        <div class="toprightbar">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Content and footer -->
    <div>
        @RenderSection("featured", required: false)
        <div class="main_body_content">
            <div class="main_wrapper">
                <div> @RenderBody()</div>
                  
            </div>
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Content/js/script.js")"></script>
    <script>
        $(".listingpage").closest('body').addClass('full-width-grid');
        $(document).ready(function () {
            fnSetActiveMenu();

            $('.lnkClearFilters').on('click', fnClearFiltersClickEvent);
            $("#menu").kendoMenu();
            $('.menu_icon').on('click', function () {
                $(this).next('.menuBackground').toggleClass('active');
                $(this).toggleClass('active');
                $('.menuBackground').slideToggle();
            });
        });

        function fnSaveGridState() {
            var persistentGridState = $('#hdnPersistentGridState').val().toLowerCase() != 'false';
            if (persistentGridState) {
                setTimeout(function () {
                    var gridAccessCode = $('#hdnGridAccessCode').val();
                    var gridId = $('#hdnKendoGridId').val();
                    var grid = $('#' + gridId).data('kendoGrid');
                    var gridSettings = kendo.stringify(grid.getOptions());
                    var postData = {
                        "GridAccessCode": gridAccessCode,
                        "GridSettings": gridSettings
                    };

                    fnCallAjaxHttpPostEvent('@Url.Action("SaveState", "GridState")', postData, true, false, function (data) {
                    });
                }, 5);
            }
        }

        function fnSetupKendoGrid() {
            var gridAccessCode = $('#hdnGridAccessCode').val();
            var gridId = $('#hdnKendoGridId').val();
            var grid = $('#' + gridId).data('kendoGrid');
            var postData = {
                "GridAccessCode": gridAccessCode
            };
            var persistentGridState = $('#hdnPersistentGridState').val().toLowerCase() != 'false';
            if (persistentGridState) {
                fnCallAjaxHttpPostEvent('@Url.Action("GetState", "GridState")', postData, true, false, fnGetGridStateSuccessEvent, grid);
            }
            else {
                grid.dataSource.read();
            }
        }

        function fnClearFiltersClickEvent(evt) {
            var gridId = $('#hdnKendoGridId').val();
            var grid = $('#' + gridId).data('kendoGrid');
            var postData = {
                "GridAccessCode": $('#hdnGridAccessCode').val()
            };
            fnCallAjaxHttpPostEvent('@Url.Action("ClearState", "GridState")', postData, true, true, function (data) {
                setTimeout(function () {
                    fnShowWaitImage();
                    window.location.reload(true);
                });
            });
        }

    </script>
    <script>
            function fnSaveGridStateWithGridAccessCode(gridId, gridAccessCode) {
                var persistentGridState = $('#hdnPersistentGridState').val().toLowerCase() != 'false';
                if (persistentGridState) {
                    setTimeout(function () {
                        var grid = $('#' + gridId).data('kendoGrid');
                        var gridSettings = kendo.stringify(grid.getOptions());
                        var postData = {
                            "GridAccessCode": gridAccessCode,
                            "GridSettings": gridSettings
                        };

                        fnCallAjaxHttpPostEvent('@Url.Action("SaveState", "GridState")', postData, true, false, function (data) {

                        });
                    }, 5);
                }
            }

            function fnSetupKendoGridWithGridAccessCode(gridId, gridAccessCode) {
                var grid = $('#' + gridId).data('kendoGrid');
                var postData = {
                    "GridAccessCode": gridAccessCode
                };
                var persistentGridState = $('#hdnPersistentGridState').val().toLowerCase() != 'false';
                if (persistentGridState) {
                    fnCallAjaxHttpPostEvent('@Url.Action("GetState", "GridState")', postData, true, false, fnGetGridStateSuccessEvent, grid);
                }
                else {
                    grid.dataSource.read();
                }
            }

            function fnClearFiltersClickEventWithGridAccessCode(gridId, gridAccessCode) {
                var grid = $('#' + gridId).data('kendoGrid');
                var postData = {
                    "GridAccessCode": gridAccessCode
                };
                fnCallAjaxHttpPostEvent('@Url.Action("ClearState", "GridState")', postData, true, true, function (data) {
                    setTimeout(function () {
                        fnShowWaitImage();
                        window.location.reload(true);
                    });
                });
        }
        function fnOnSuccessMessage(messageText) {

            $.toast({
                heading: 'Success',
                text: messageText,
                showHideTransition: 'Top',
                position: 'bottom-right',
                //position: { left: 'auto', right: 20, top: 100, bottom: 'auto' },
                icon: 'success',
            })
        }

        function fnOnErrorMessage(messageText) {
            $.toast({
                heading: 'Error',
                text: messageText,
                showHideTransition: 'Top',
                position: 'bottom-right',
                icon: 'error'
            })
        }

    </script>
</body>
</html>
