@model DemoMVC.WebUi.Models.StartTestModel
<div class="container">
    <h4 class="mb-3">Exam Details</h4>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Exam Name:</th>
                <td>@Model.ExamName</td>
            </tr>
            <tr>
                <th>Total Marks:</th>
                <td>@Model.TotalMarks</td>
            </tr>
            <tr>
                <th>Passing Marks:</th>
                <td>@Model.PassingMarks</td>
            </tr>
            <tr>
                <th>Duration:</th>
                <td>@Model.Duration minutes</td>
            </tr>
        </tbody>
    </table>
    <p class="alert alert-warning text-center">
        Please ensure you are ready before starting the exam. Once you begin, the timer will start, and you cannot pause or restart the exam.
    </p>
    <div class="text-end">
        <button class="btn btn-success" id="startExamBtn">Start Exam</button>
        <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    $("#startExamBtn").on("click", function () {
        var userToken = @Html.Raw(Json.Encode(Model.UserToken));
        userToken = userToken.replace(/^"|"$/g, '');

        var userName = "@Model.UserName";
        var userEmail = "@Model.UserEmail";
        var name = "@Model.Name";

        $.ajax({
            url: '/UserExam/SaveUserAndExamDetails',
            type: 'POST',
            data: { userToken: userToken, userName: userName, userEmail: userEmail, name: name },
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    window.location.href = response.redirectUrl; 
                } else {
                    alert("Error: " + response.message);
                }
            },
            error: function (error) {
                console.log(error);
                alert("Something went wrong.");
            }
        });
    });
});

</script>